:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
}

.list-item {
	text-decoration: none;
	display: flex;
	gap: 12px;
}
.list-item > button {
	background: tomato;
	border: none;
	color: white;
	border-radius: 50%;
	height: 24px;
	width: 24px;
	font-size: 12px;
}

main {
	margin: 0 auto;
	max-width: 1080px;
	padding: 4rem 0;
}

.dynamic-box-button {
	font-size: 1.5rem;
	padding: 1rem;
	background-color: aqua;
}
